.primary-color {
    color: #8AC247 !important;
}

.primary-bg-color {
    background-color: #8AC247 !important;
}

.site-button {
    background-color: #8AC247;
    height: 42px !important;
    margin-top: 10px;
}

.site-button:active,
.site-button:hover,
.site-button:focus,
.active>.site-button {
    background-color: #B3DA86;
    color: #131B0A;
}

.site-button-secondry:after,
.site-button:after {
    transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    transition: none;
    -moz-transition: none;
    -webkit-transition: unset;
    -o-transition: none;
    -ms-transition: none;
    width: 25px;
    z-index: -1;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
a,
span,
div,
button,
select,
ul,
input,
label {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif !important;
    color: #000000;
}

.fullwidth .header-nav .nav>li.active>a,
.fullwidth .header-nav .nav>li:hover>a {
    background-color: #ffffff;
    color: #8AC247;
}

.page-wraper {
    background: #EEF6E4;
}

.find-job-bx h2 {
    margin-bottom: 70px;
}

.find-job-bx .input-group-text,
.find-job-bx .form-control {
    border-radius: 0;
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-color: #8AC247;
}

.find-job-bx form {
    padding: 30px 30px 30px 30px;
    margin-bottom: 40px;
}

.find-job-bx .bootstrap-select .dropdown-toggle,
.find-job-bx .bootstrap-select .dropdown-toggle:active,
.find-job-bx .bootstrap-select .dropdown-toggle:focus,
.find-job-bx .bootstrap-select .dropdown-toggle:hover {
    border-color: #8AC247 !important;
}

.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.preloader-spinner {
    width: 30px;
    height: 30px;
}

.preloader-spinner {
    -webkit-animation: 1.5s linear 0s normal none infinite running loader;
    animation: 1.5s linear 0s normal none infinite running loader;
    width: 60px;
    height: 60px;
    font-size: 35px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -30px;
    padding-top: 12px;
    z-index: 99;
    background: #EEF6E4;
    color: #ca3d26;
}

.preloader-spinner img {
    margin-top: -25px;
    width: 70%;
}

@-webkit-keyframes loader {
    0% {
        -webkit-box-shadow: 0 0 0 0px rgb(138, 194, 71);
        box-shadow: 0 0 0 0px #8AC247;
    }
    25% {
        -webkit-box-shadow: 0 0 0 0px rgb(138, 194, 71, 0.5), 0 0 0 10px rgb(138, 194, 71, 0.4);
        box-shadow: 0 0 0 0px rgb(138, 194, 71, 0.5), 0 0 0 10px rgb(138, 194, 71, 0.4);
    }
    50% {
        -webkit-box-shadow: 0 0 0 10pxrgb(138, 194, 71, 0.5), 0 0 0 20px rgb(138, 194, 71, 0.3);
        box-shadow: 0 0 0 10pxrgb(138, 194, 71, 0.5), 0 0 0 20px rgb(138, 194, 71, 0.3);
    }
    75% {
        -webkit-box-shadow: 0 0 0 10px rgb(138, 194, 71, 0.5), 0 0 0 10px rgb(138, 194, 71, 0.2);
        box-shadow: 0 0 0 10px rgb(138, 194, 71, 0.5), 0 0 0 10px rgb(138, 194, 71, 0.2);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0px rgb(138, 194, 71);
        box-shadow: 0 0 0 0px rgb(138, 194, 71);
    }
}

@keyframes loader {
    0% {
        -webkit-box-shadow: 0 0 0 0px rgb(138, 194, 71);
        box-shadow: 0 0 0 0px rgb(138, 194, 71);
    }
    25% {
        -webkit-box-shadow: 0 0 0 0px rgb(138, 194, 71, 0.5), 0 0 0 10px rgb(138, 194, 71, 0.4);
        box-shadow: 0 0 0 0px rgb(138, 194, 71, 0.5), 0 0 0 10px rgb(138, 194, 71, 0.4);
    }
    50% {
        -webkit-box-shadow: 0 0 0 10pxrgb(138, 194, 71, 0.5), 0 0 0 20px rgb(138, 194, 71, 0.3);
        box-shadow: 0 0 0 10pxrgb(138, 194, 71, 0.5), 0 0 0 20px rgb(138, 194, 71, 0.3);
    }
    75% {
        -webkit-box-shadow: 0 0 0 10px rgb(138, 194, 71, 0.5), 0 0 0 10px rgb(138, 194, 71, 0.2);
        box-shadow: 0 0 0 10px rgb(138, 194, 71, 0.5), 0 0 0 10px rgb(138, 194, 71, 0.2);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0px rgb(138, 194, 71);
        box-shadow: 0 0 0 0px rgb(138, 194, 71);
    }
}

.jp_banner_jobs_categories_wrapper {
    background-color: #282626;
}

.jp_top_jobs_category_wrapper:hover {
    background: #282626 !important;
}

.bg-gray {
    background-color: #EEF6E4;
}

.main-heading h2 {
    color: #000000;
}

.grid-view .brows-job-company-img {
    line-height: 75px;
}

.input-group-text {
    color: #000000;
}


/* .jp_top_jobs_category_wrapper:hover h3,
.jp_top_jobs_category_wrapper:hover h3 a,
.jp_top_jobs_category_wrapper:hover p {
    color: #282626 !important;
} */